.paragraph{
	border: 2px dashed black;
	border-color: black;
	text-align: center;
	background-color: beige;
}

.border_2{
	padding: 40px 20px 70px 100px;
	background-color: gold;
}

.border_3{
	padding: 20px 10px;
	background-color: purple;
}

.border_4{
	padding: 120px 60px 30.5px;
	background-color: blue;
}